ul {
    list-style: none;
    display: flex;
    gap: 50px;
    width: 100%;
    justify-content: center;
    font-size: 30px;
    margin: 10px;
    li{
        cursor:pointer;
        text-align: justify;
        margin-top: 20px;
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #7344c9;
    height: 80px;
    justify-content: center;
    z-index: 10;
}