<app-header></app-header>
<div class="register-container">
    <h2><b>Cadastro de pacientes</b></h2>
    <form [formGroup]="memberForm" class="register-form" (submit)="onSubmit()">
        <div class="form-field">
            <label class="label-input">Nome do paciente:</label>
            <input type="text" formControlName="nome" placeholder="Digite o nome">
        </div>
        <div class="form-field">
            <label class="label-input">Email:</label>
            <input type="email" formControlName="email" placeholder="Digite o E-mail">
        </div>  
        <div class="form-field">
            <label class="label-input">Senha do paciente:</label>
            <input type="password" formControlName="senha" placeholder="Digite a senha">
        </div>  
        <div class="form-field">
            <label class="label-input">Idade:</label>
            <input type="number" formControlName="idade" placeholder="Digite a idade">
        </div>  
        <div class="form-field">
            <label class="label-input">Peso:</label>
            <input type="number" formControlName="peso" placeholder="Digite o peso">
        </div>  
        <div class="form-field">
            <label class="label-input">Altura:</label>
            <input type="number" formControlName="altura" placeholder="Digite a altura">
        </div>  
        <div class="form-field">
            <label class="label-input">Gênero:</label>
            <select formControlName="genero">
            <option value="Feminino">Feminino</option>
            <option value="Masculino">Masculino</option>
            </select>
        </div>  
        <div class="form-field">
            <label class="label-input">Porcentagem de gordura corporal:</label>
            <input type="number" formControlName="gordura" placeholder="0.00">
        </div> 
        <div class="form-field">
            <label class="label-input">Motivo:</label>
            <input type="text" formControlName="motivo" placeholder="Digite o motivo da consulta">
        </div>  
        <div class="form-field">
            <label class="label-input">Data de início:</label>
            <input type="number" formControlName="inclusionDate">
        </div>  
        <div class="form-field">
            <label class="label-input">Data da última consulta:</label>
            <input type="number" formControlName="lastVisit">
        </div>  
        <div class="form-field">
            <label class="label-input">Foto:</label>
            <input type="file" formControlName="foto" class="btn btn-success" accept="image/png, image/jpeg"  multiple /> 
        </div> 
        <div class="form-field">
            <textarea formControlName="historico" placeholder="Digite o histórico do paciente" rows="20" cols="40" maxlength="1000"></textarea>
        </div>  
        <div class="action-form">
            <button mat-raised-button color="primary" type="submit">Cadastrar</button>
            <!-- <button class="cadastrarPaciente" type="submit">Cadastrar</button> -->
        </div>                
    </form>
</div>
<app-footer></app-footer>

