.card {
    margin-top: 150px;
    background-color: #a0e79a;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    height: 400px;
    width: 280px;
    flex-wrap: wrap;

}
p, h2, h3{
    margin-left: 10px;
}

img {
    border-radius: 10px;
    margin:10px ;
}


    