<div class="card" *ngIf="member && card">
    <img [src]="member?.img" height="150px;" width="150px"><br>
    <h2>Nome: {{member?.nome}} </h2>
    <h3>Matrícula: {{member?.id}} </h3>
    <p>Paciente desde: {{member?.inclusionDate | date:'longDate'}}</p>
    <button (click)="navigateToDetails()">Exibir detalhes</button>
    
</div>

<div class="details" *ngIf="!card && member">
    <img [src]="member?.img" height="300px;" width="300px"><br>
    <h2>Nome: {{member?.nome}} </h2>
    <h3>Matrícula: {{member?.id}} </h3>
    <p>Idade: {{member?.idade}} </p>
    <p>Peso: {{member?.peso}}</p>
    <p>Altura: {{member?.altura}}</p>
    <p>Paciente desde: {{member?.inclusionDate | date:'longDate'}}

    <p>
        Altura, peso, sexo, idade. 
        IMC/FICHA/% de gordura corporal
        completar dados
       
    </p>

    
    
</div>